body {
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
}

header {
  list-style-type: none;
  margin: 12px;
  padding: 0;
}

a {
  display: block;
  color: #69696a;
  padding: 3px;
  text-decoration: none;
}

a:visited {
  color: #69696a;
}

button {
  background-color: #000;
  color: #fff;
  padding: 12px;
  text-align: center;
  border: 0;
  border-radius: 22px;
  display: block;
  margin: 8px auto;
  width: 100%;
}

blockquote {
  display: block;
  color: #69696a;
  border-left: 3px solid #69696a;
  margin-left: 12px;
  padding-left: 12px;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    display: flex;
    flex-direction: row;
  }

  main {
    margin: 0;
    display: flex;
  }

  #hire {
    width: auto;
  }

  blockquote {
    display: flex;
    flex: 50%;
  }

  .circles {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    /* align-items: ; */
  }

  #largecircle {
    height: 250px;
    width: 250px;
    background-color: rgba(247, 136, 167, 0.6);
    border-radius: 50%;
    transform: translate(-80px, -50px);
    position: absolute;
  }

  #mediumcircle {
    height: 200px;
    width: 200px;
    background-color: rgba(247, 193, 162, 0.7);
    border-radius: 50%;
    transform: translate(-0px, 90px);
    position: absolute;
  }

  #smallcircle {
    height: 150px;
    width: 150px;
    background-color: rgba(207, 130, 213, 0.6);
    border-radius: 50%;
  }

  #scroll {
    width: auto;
    position: relative;
    top: 100px;
  }

}
