
body {
    background-color: #f9fafc;
    font-family: 'Open Sans', sans-serif;
  }

ul {
    list-style-type: none;
    margin: 12px;
    padding: 0;
  }

li a {
    display: block;
    color: #69696a;
    padding: 3px;
    text-decoration: none;
}

h1 {
    margin: 12px;
}

a:visited {
    color: #69696a;
  }

button {
    background-color:#000;
    color: #fff;
    padding: 12px;
    text-align: center;
    border: 0;
    border-radius: 22px;
    display: block;
    margin: 8px auto;
    width: 100%;
  }

  blockquote {
    display: block;
    color: #69696a;
    border-left: 3px solid #69696a;
    margin-left: 12px;
    padding-left: 12px;
  }